/** FUENTES **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=PT+Sans:ital@1&display=swap');

/*MEDIDAS MOBILE FIRST */


/******************** HEADER ******************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}



header {
    
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 150px;
}


.menu {
    width: 100%;
    display: flex;
    position: absolute;
    top: 3rem;
    flex-direction: column;
    padding: 0;
    background-color: white;
    transform: translatey(-135%);
    transition: transform 0.4s;
}

#hamburguesa {
    display: none;
}

#icono {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.menu li {
    padding: 1rem;
    margin: 1px;
    text-align: center;
    list-style-type: none;
}

#hamburguesa:checked~.menu {
    transform: translatey(0);
}

a:hover {
    color: rgba(75, 72, 72, 0.76);
}

/********************* INDEX MAIN *****************************************/


.contenedor {
    display: flex;
    background-image: url(../img/martiz_portada.gif);
    background-size: cover;
    background-position: center;
    height: 700px;
}

/********************* FOOTER *****************************************/


footer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}


.logos {
    margin: 10px;
}

.logos a {
    margin-left: 20px;
}

.politicas {
    margin-bottom: 10px;

}

.politicas a {
    margin: 5px;
}




/*MEDIAQUERYS */
/* TABLET */
@media (min-width: 480px) {


    .contenedor {
        display: flex;
        background-image: url(../img/martiz_portada.gif);
        background-size: cover;
        background-position: center;
        height: 1000px;
    } 
}

/* DISPOSITIVOS GRANDES */
@media (min-width: 992px) {



    .logo {
        width: 200px;
    }

    .menu {
        transform: translatex(0%);
        background-color: transparent;
        top: 0;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        align-self: center;
    }


    #icono {
        display: none;
    }


}

/* DISPOSITIVOS EXTRA-GRANDES */
@media (min-width: 1200px) {

    .menu {
        transform: translatex(0%);
        background-color: transparent;
        top: 0;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .contenedor {
        display: flex;
        background-image: url(../img/martiz_portada.gif);
        background-size: cover;
        background-position: center;
        max-height: 800px;
    }
}