/** FUENTES **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=PT+Sans:ital@1&display=swap');

/*MEDIDAS FIRST MOBILE */


/******************** HEADER ******************************/

body {
    background-color: rgb(180, 179, 179);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}



header {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    width: 100%;
    background-color: white;
    align-items: center;
    grid-column: 1/3;
}



.logo img {
    width: 300px;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    margin-right: 30px;
}


.nav {
    opacity: 1;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    background-color: whitesmoke;

    position: absolute;
    top: 0;
    right: 0;
width: 120px;
    padding-top: 3rem;

}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;
   

}

ul{
    text-align: center;
}

ul li {
    list-style-type: none;
    color: black;
    margin: 20px;

}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover {
    color: rgba(75, 72, 72, 0.76);

}

/********************* INDEX MAIN *****************************************/
.contenedor_1{
    grid-column: 1/3;
}
.contenedor{
  
   display: flex;
    background-image: url(/assets/img/VISUAL_MARTIZ_2.png);
   background-size: cover;
   background-position: center;
   height: 700px;
}

/********************* FOOTER *****************************************/


footer{
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}


.logos{
    margin: 10px;
}

.logos a{
   margin-left: 20px;
}

.politicas{
    margin-bottom: 10px;
   
}

.politicas a{
    margin: 5px;
}




/*MEDIAQUERYS */
/* TABLET */
@media (min-width: 480px) {
    body {
        background-color: red;
    }

    .contenedor{
        display: flex;
         background-image: url(/assets/img/VISUAL_MARTIZ_2.png);
        background-size: cover;
        background-position: center;
        height: 1000px;
     }
}

/* DISPOSITIVOS GRANDES */
@media (min-width: 992px) {
    body {
        background-color: rgb(64, 0, 255);
    }

    .logo img {
        width: 400px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: none;

    }

    .nav {
        display: flex;
        visibility: visible;
        position: initial;
        background-color: white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li {
        margin-left: 20px;
    }
}

/* DISPOSITIVOS EXTRA-GRANDES */
@media (min-width: 1200px) {
    body {
        
    }

   header{
        
    } 

    .logo img {
        width: 400px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: none;

    }

    .nav {
        visibility: visible;
        position: initial;
        background-color: white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li {
        margin-left: 20px;
        
    }

    .contenedor{
        display: flex;
         background-image: url(/assets/img/VISUAL_MARTIZ_2.png);
        background-size: cover;
        background-position: center;
        height: 700px;
     }
}