/** FUENTES **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=PT+Sans:ital@1&display=swap');

/*MEDIDAS FIRST MOBILE */


/******************** HEADER ******************************/

body {
    background-color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

body p {
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;

}



header {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    width: 100%;
    background-color: white;
    align-items: center;
    grid-column: 1/3;
}



.logo img {
    width: 300px;
}

.abrir-menu,
.cerrar-menu {
    display: block;
    margin-right: 30px;
}


.nav {
    opacity: 1;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    background-color: whitesmoke;

    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding-top: 3rem;

}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;


}

ul {
    text-align: center;
}

ul li {
    list-style-type: none;
    color: black;
    margin: 20px;

}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover {
    color: rgba(75, 72, 72, 0.76);

}

/********************* BIO MAIN *****************************************/
main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    justify-content: center;
}

.bio-container {
    margin: 1em;
}

.fotografia_bio {

    margin: 1em;
}

.fotografia_bio img {
    width: 100%;
}

.texto_bio {

    color: white;
    background-color: rgb(0, 0, 0);
    text-align: justify;
    justify-content: center;



}

/*********** MUSICA MAIN ***********************/

.foto_disco {
    width: 100%;

}

.musica_portada {
    color: white;
    text-align: center;
    margin: 1em;
}

.musica_portada a {
    color: white;
    font-size: larger;
}

.musica_portada_blanca {
    background-color: white;
    color: black;
    text-align: center;
    margin: 1em;
}

.musica_portada ul li {
    color: white;
}


/********************* VIDEO MAIN *****************************************/

.video {
    width: 100%;
    margin-top: 20px;

}

/********************* CONCIERTOS MAIN *****************************************/
.conciertos {
    margin: 1em;
}

.foto_tabla img {
    width: 100%;
}

table {
    color: white;
}

table th {
    background-color: white;
    color: black;
}

table td {
    border-bottom: 1px solid white;
}

/********************* GALERIA MAIN *****************************************/
.galeria {
    margin: 1em;
}

.galeria img {
    width: 100%;
}

/********************* CONTACTO MAIN *****************************************/
.contacto {
    margin: 1em;
}

.fotografia_contacto img {
    width: 100%;
}

.formulario {
    color: white;
    width: 100%;
}

/********************* FOOTER *****************************************/


footer {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}


.logos {
    margin: 10px;
}

.logos a {
    margin-left: 20px;
}

.politicas {
    margin-bottom: 10px;

}

.politicas a {
    margin: 5px;
}

/****************** ESTILOS BIO ****************************/



/*MEDIAQUERYS */
/* TABLET */
@media (min-width: 480px) {
    body {
        background-color: red;
    }

    .contenedor {
        display: flex;
        background-image: url(/assets/img/VISUAL_MARTIZ_2.png);
        background-size: cover;
        background-position: center;
        height: 1000px;
    }

    .texto_bio{
    
        
        margin: 1em;
        
    }

    
}

/* DISPOSITIVOS GRANDES */
@media (min-width: 992px) {
    body {
        background-color: rgb(64, 0, 255);
    }

    .logo img {
        width: 400px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: none;

    }

    .nav {
        display: flex;
        visibility: visible;
        position: initial;
        background-color: white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li {
        margin-left: 20px;
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;

    }

    .texto_bio {
        margin:0;
        margin-right: 1em;
    }
}

/* DISPOSITIVOS EXTRA-GRANDES */
@media (min-width: 1200px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    header {}

    .logo img {
        width: 400px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: none;

    }

    .nav {
        visibility: visible;
        position: initial;
        background-color: white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    li {
        margin-left: 20px;

    }
   
    .texto_bio {
        margin:0;
        margin-right: 1em;
        margin-left: 1em;
    }

}